.login{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "header"
                         "form";

    .header{
        grid-area: header;
        height: 100%;
        width: 100%;
        background: radial-gradient(circle, #414345, #232526);
    }

    .form{
        grid-area: form;
        height: 100%;
        width: 100%;
    }
}