.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    nav{
        width: 100%;
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-auto-columns: 1fr 2fr 1fr;
        grid-template-areas: "burger logo panel";
        padding: 0 2rem;

        div{
            display: flex;
            align-items: center;
            width: 100%;
        }

        .logo{
            grid-area: logo;
            justify-content: center;

            img{
                width: 48px;
            }
        }

        .burger{
            grid-area: burger;
            justify-content: flex-start;

            &.open{
                height: 60px;
                position: fixed;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                z-index: 103;
                padding-left: 30px;
            }

            .burger-icon{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 22px;
                height: 16px;
                cursor: pointer;
                z-index: 101;

                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    transition: all 0.3s ease;
                }
            }

            &.open .burger-icon span:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &.open .burger-icon span:nth-child(2) {
                opacity: 0;
            }

            &.open .burger-icon span:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }

        .items{
            grid-area: items;
            display: none;

            &.active{
                position: fixed;
                top: 0;
                right: 0;
                height: 100vh;
                width: 100%;
                background-color: hsla(0, 0%, 0%, 0.1);
                backdrop-filter: blur(12px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 5rem;
                gap: 1rem;

                a{
                    color: white;
                    text-transform: capitalize;
                    font-size: 24px;
                }
            }
        }

        .panel{
            grid-area: panel;
            justify-content: flex-end;

            button{
                font-size: 14px;
                padding: 5px 10px;
                cursor: pointer;
                border: none;
                border-radius: 10px;
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar{
        nav{
            grid-auto-columns: 1fr 2fr 1fr;
            grid-template-areas: "logo items panel";

            .logo{
                justify-content: flex-start;
            }

            .items{
                display: flex;
                justify-content: center;
                gap: 2rem;

                a{
                    color: white;
                    text-transform: capitalize;
                    font-size: 18px;
                }
            }

            .burger{
                display: none;
            }
        }
    }
}