*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Forum", serif;
  font-weight: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

a{
  text-decoration: none;
  cursor: pointer;
}